@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

* {
    font-family: 'Alumni Sans', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #59CCBA;
    height: 119px;
}

.header div {
    display: flex;
    align-items: center;
}

.logo-header {
    height: 101px;
    width: 240px;
    border-radius: 10px;
}

.lupa {
    height: 17px;
    width: 18.726337432861328px;
}

.input-busc {
    font-size: 20px;
    height: 54px;
    width: 479px;
    border-radius: 35px;
}

.navbar {
    font-size: 30px;
}

.carrito {
    height: 23px;
    width: 29px;
    left: 1297px;
    top: 50px;
    border-radius: 0px;
}

.user {
    height: 23px;
    width: 29px;
    left: 1372px;
    top: 50px;
    border-radius: 0px;
}

.main {
    display: flex;
    background-color: #D9D9D9;
    height: 515px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-size: 30px;
}

.product p {
    text-decoration: underline;
}

.product-detail {
    height: 309.2372741699219px;
    width: 338px;
    border-radius: 17px;
}

.imageproduct {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextback {
    height: 44.70314407348633px;
    width: 19.760000228881836px;
}

.product rect {
    border-radius: 10px;
    background-color: #817878;
}

.descript {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-size: 20px;
}

.addtocart {
    background-color: #59CCBA;
    border-radius: 8px;
    font-size: 18px;
}

.carrito2 {
    height: 29.866666793823242px;
    width: 34.69306945800781px;
}

.relacionados {
    display: flex;
    flex-direction: column;
    height: 390px;
    background-color: yellow;
}

.titlerela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    background-color: rgb(99, 99, 117);
    height: 40px;
    font-size: 25px;
}

.prodrela {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    height: 386px;
}

.prodrela article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.prodrela article img {
    height: 247.26803588867188px;
    width: 268px;
    border-radius: 28px;
}

.btn-vermas {
    margin-top: 10px;
    margin-left: 70px;
    padding-top: 20px;
    font-size: 20px;
    background: #59CCBA;
    border-radius: 15px;
    height: 43.649295806884766px;
    width: 119.40298461914062px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #797979;
    height: 309px;
}

.logofoot {
    height: 120px;
    width: 250px;
    border-radius: 40px;
}

.contactfoot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactfoot img {
    height: 27.31313133239746px;
    width: 36.53706741333008px;
}

.contactfoot .title {
    text-decoration: underline;
    font-size: 30px;
}

.contactfoot .dato {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.footer .ayuda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 30px;
}

.redes img {
    height: 51px;
    width: 52px;
}

.refooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    background-color: #797979;
    height: 30px;
}

a {
    color: black;
    text-decoration: none;
}